<link rel="stylesheet" href="/css/user_profile.css">
<h1>Codeial user / <%= title %> </h1>

<img src="<%= user.avatar %>" alt="user.name" width="100px">
       

        <% if(user.id == profile_user.id) {%>
                <!-- if user matches then show the profile updation form -->

                <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
                        <input type="text" name="name" placeholder="your name" value="<%= profile_user.name%>" required>
                        <input type="email" name = "email" placeholder="your email" value = "<%= profile_user.email %>">
                        <input type="file" name="avatar" placeholder="Profile Picture">
                        <input type="submit" value="update">
                </form>

        <%} else {%>
                
                <p><%= profile_user.name %></p>
                <p><%= profile_user.email %></p>
                <!-- if the user do not match then show only profile info -->
        <%}%>
       
        